html {
	cursor: url(imagens/mata_mosquito.png) 30 30, auto;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background: url(imagens/bg.jpg) no-repeat center center;
	background-size: cover;
	overflow: hidden;
}

/*===============================
RESPONSIVO DESKTOP
================================*/

.mosquito {

	background-image: url(imagens/mosquitoVM.png);
	background-repeat: no-repeat;

	background-size: 200% 100%;
	background-position: left center;

	position: absolute;

}

.mosquito1 {
	width: 50px;
	height: 50px;
}

.mosquito2 {
	width: 70px;
	height: 70px;
}

.mosquito3 {
	width: 90px;
	height: 90px;
}

.ladoA {
	transform: scaleX(1);
}

.ladoB {
	transform: scaleX(-1);
}

.painel {
	position: absolute;
	width: 190px;
	padding: 10px;
	left: 0px;
	bottom: 0px;
	border-top: solid 1px #fff;
	background-color: #fff;
	opacity: 0.7
}

.vidas {
	float: left;
}

.cronometro {
	float: left;
	font-size: 20px;
	font-weight: bold;
}

/*===============================
RESPONSIVO MOBILE
================================*/

.logo-jogo {
	max-width: 100%;
	height: auto;
}

.btn-jogar {
	max-width: 220px;
	margin: auto;
}

@media (max-width:768px) {

	body {
		background-position: 25% center;
	}

	.logo-jogo {
		width: 220px;
	}

	.form-control-lg {
		font-size: 16px;
		height: 46px;
	}

	.btn-jogar {
		width: 220px;
	}

	.mosquito1 {
		width: 55px;
		height: 55px;
	}

	.mosquito2 {
		width: 70px;
		height: 70px;
	}

	.mosquito3 {
		width: 85px;
		height: 85px;
	}

	.painel {
		width: 100%;
		left: 0;
		bottom: 0;
		padding: 10px;
	}

	.vidas img {
		width: 28px;
	}

	.cronometro {
		font-size: 15px;
	}
}

/*===============================
ANIMAÇÃO MORRER
================================*/

@keyframes morrer {

	0% {

		transform: scale(1);
		filter: brightness(1);

	}

	20% {

		transform: scale(1.20);
		filter: brightness(1.8);

	}

	40% {

		background-position: right center;

		transform: rotate(-25deg) scale(1.05);

	}

	70% {

		transform: translateY(25px) rotate(120deg) scale(.9);

	}

	100% {

		transform: translateY(55px) rotate(180deg) scale(.55);

		opacity: 0;

	}

}

.morrendo {

	animation: morrer .45s ease-out forwards;

	pointer-events: none;

}